@import '../../sass/main.scss';

.title-container {
    width: 100%;
    height: 5rem;
    background-color: $income-table-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.is-expense {
        background-color: $expense-table-color;
    }
    .title {
        font-size: 2.4rem;
        line-height: 1.4;
        text-align: center;
        text-transform: uppercase;
    }
}