// header-color-secondary-2 #16ddf0

// HEADER COMPONENT VARIABLES
//////////////////////////////////////////////////////////////////////
$header-color-primary: #1c405f;
$header-color-secondary: #5698ce;


$dashboard-color: #8bb8dd;

$entry-table-color: #dae8f4;

$expense-table-color: #fe2d47;
$income-table-color: #48ffc9;


$color-black: #000;

$color-white: #fff;

$color-dark-gray: #777;

$google-color: #4285f4;
$google-hover: #357ae8;

$logo-color: #69cc09;

