@import '../../sass/main.scss';

.dashboard-container {
    height: 27vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(
        to right,
        rgba($color-black, .65),
        rgba($color-black, .5)
    );
    margin: 2.5rem auto;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}

.displays-container {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}