@import '../../sass/main.scss';

.income-table {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 35vw;
    border-radius: 2rem;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;

    background: $entry-table-color;
}