@import '../../sass/main.scss';

.previous-month-container {
    display: flex;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    height: 8.75vh;
    width: 80vw;
    background: linear-gradient(
        to right,
        rgba($color-black, .65),
        rgba($color-black, .5)
    );
    border-radius: 3px;
    margin-bottom: 1rem;
}