@import '../../sass/main.scss';

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 5rem;
    width: 15rem;
    text-align: center;
    .date {
        font-size: 3rem;
        line-height: 1.3;
        font-weight: 400;
        letter-spacing: 1.2px;
        color: $color-white;
    }
}